.row{
  overflow-x: hidden !important;
}

.login{
  background:linear-gradient(-90deg, rgba(27,17,13,0.8), rgba(27,17,13,1));
  padding-top:40px;
  padding-bottom:40px;

}
.login a{

  margin:0 auto;
  display: table;
}
.btn-secondry{
color:#cda379 !important;
background-color:transparent;
border:3px solid #cda379;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
