.cover-container{
  background: url(../../../assets/header.jpg);
  background-size: cover;
  height:900px
}
.overlay-header{
    height:900px;
    background-color: rgba(27,17,13,0.5);
}
header{
  padding:20px;
      background-color: rgba(27,17,13,0.5);
}
.logo h3{
  color:#cda379;
font-family: 'Arizonia', cursive;
font-size: 80px;
}

.btn-primary{
color:#fff !important;
background-color:transparent;
border:3px solid #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
main{
  margin-top: 120px;
}
main h3{
  color:#cda379;
font-family: 'Arizonia', cursive;
font-size: 40px;
}
main h1{
  font-family: 'Montserrat', sans-serif;
  color:#fff;
  font-weight: 700;
  font-size: 100px;
}
main p{
  font-family: 'Montserrat', sans-serif;
  color:#fff;
  font-weight: 700;
  font-size:70px;
}
nav {
    padding:20px;
}
nav .active{
  color:#fff;

    font-family: 'Montserrat', sans-serif;
    background-color: #cda379;
}
nav a{
  color :#cda379;
  font-family: 'Montserrat', sans-serif;
}
